@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new recipe</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.RecipeName)
    @Html.TextBoxFor(model => model.RecipeName)

    <br>

    @Html.LabelFor(model => model.RecipeIngredients)
    @Html.TextAreaFor(model => model.RecipeIngredients)

    <br>

    @Html.LabelFor(model => model.RecipeInstructions)
    @Html.TextAreaFor( model => model.RecipeInstructions)

    <br>
        
    @Html.Label("Select a rating")
    @Html.DropDownList("Rating")

    <br> 

    @Html.Label("Select category")
    @Html.DropDownList("CategoryId") 

    <input type="submit" value="Add new Recipe" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Recipes", "Index")</p>