@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new recipe</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.RecipeName)
    @Html.TextBoxFor(model => model.RecipeName)

    @Html.Label("Select Category")
    @Html.DropDownList("CategoryId") 

    <input type="submit" value="Add new Recipe" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Recipes", "Index")</p>