@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Recipe Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.RecipeName): @Html.DisplayFor(model => model.RecipeName)</h3>
<p>@Html.DisplayNameFor(model => model.RecipeInstructions): @Html.DisplayFor(model => model.RecipeInstructions)</p>
<p>@Html.DisplayNameFor(model => model.RecipeIngredients): @Html.DisplayFor(model => model.RecipeIngredients)</p>
<p>@Html.DisplayNameFor(model => model.RecipeRating): @Html.DisplayFor(model => model.RecipeRating)</p>

@if(Model.JoinEntries.Count == 0)
{
  <p>This Recipe does not belong to any Categories</p>
}
else
{
  <h4>Categories the Recipe belongs to:</h4>
}

  <ul>
  @foreach(var join in Model.JoinEntries)
  {
    <li>@join.Category.CategoryName</li>
    @using (Html.BeginForm("DeleteCategory", "Recipes"))
    {
      @Html.Hidden("joinId", @join.CategoryRecipeId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
  
<p>@Html.ActionLink("Add a Category", "AddCategory", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })</p>