@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Edit</h2>

<h4>Edit this Recipe's info: @Html.DisplayFor(model => model.RecipeName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)

    @Html.LabelFor(model => model.RecipeName)
    @Html.EditorFor(model => model.RecipeName)
@* 
    @Html.Label("Select a PARENT")
    @Html.DropDownList("ParentId") *@ 

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>