  
@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Category

<h4>Add a new Category</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.CategoryName)
    @Html.TextBoxFor(model => model.CategoryName)
    
    @* @Html.LabelFor(model => model.StartDate)
    @Html.EditorFor(model => model.StartDate) *@
    @* @Html.TextBoxFor(model => model.StartDate, new { @type = "date"}) *@

    <input type="submit" value="Add new Category" />
}
<p>@Html.ActionLink("Show all Categories", "Index")</p> 




